<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    
    {{if .Errors}}
        <ul style="color: red;">
            {{range $key, $val := .Errors}}
                <li>{{$val}}</li>
            {{end}}
        </ul>
    {{end}}

    <form method="POST" action="/submit">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
        <label>Name:</label><br>
        <input type="text" name="name" value="{{.Form.Name}}" /><br>
        <label>Email:</label><br>
        <input type="email" name="email" value="{{.Form.Email}}" /><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
